<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Welcome, {{user.firstName}} {{user.lastName}}!</h5>

    <div class="card-body app-container-body">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <table id="courses" *ngIf="!loading">
        <tr>
          <th *ngFor="let column of courseHeaders">
            {{column.name}}
          </th>
          <th> Actions</th>
        </tr>

        <tr *ngFor="let row of courses">
          <td *ngFor="let column of courseHeaders">
            {{row[column.fieldName]}}
          </td>
          <td>
            <input
              type='button'
              class="btn app-primary"
              value='Get capacity'
              (click)="getCapacity(row.id)"
            />
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
