<div class="modal-header">
  <h4 class="modal-title">Generate Schedule</h4>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()" *ngIf="!schedule">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <h4> Please fill in your preferences: </h4>
        <br>
        <label for="preferredDays">More load on: </label>
        <select
          id="preferredDays"
          class="form-control"
          formControlName="preferredDays">
          <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="preferredTime">Time: </label>
        <select
          id="preferredTime"
          class="form-control"
          formControlName="preferredTime">
          <option *ngFor="let time of times" [value]="time">{{ time }}</option>
        </select>
      </div>
      <div class="form-group app-checkbox-div">
        <label for="foundation">Include <b>Foundation</b> Course: </label>
        <div class="app-checkbox-input">
          <input type="checkbox" id="foundation" class="pull-right app-checkbox" formControlName="isFoundationChecked">
        </div>
      </div>
      <div class="form-group">
        <label for="numberOfCore">Number of <b>Core</b> Courses: </label>
        <select
          id="numberOfCore"
          class="form-control"
          formControlName="numberOfCore">
          <option *ngFor="let number of numbers" [ngValue]="number">{{ number }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="preferredTime">Number of <b>GenEd</b> Courses: </label>
        <select
          id="numberOfGenEd"
          class="form-control"
          formControlName="numberOfGenEd">
          <option *ngFor="let number of numbers" [ngValue]="number">{{ number }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="track">Choose <b>Track</b> if applicable: </label>
        <select
          id="track"
          class="form-control"
          formControlName="track">
          <option *ngFor="let track of tracks" [ngValue]="track">{{ track }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="numberOfTrack">Number of <b>Track</b> Courses: </label>
        <select
          id="numberOfTrack"
          class="form-control"
          formControlName="numberOfTrack">
          <option *ngFor="let number of numbers" [ngValue]="number">{{ number }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn app-primary"
            [disabled]="!myForm.valid">
      Submit
    </button>
  </div>
</form>

<!--<div *ngIf="schedule">-->
<!--  <table id="courses">-->
<!--    <tr>-->
<!--      <th *ngFor = "let column of headers">-->
<!--        {{column.name}}-->
<!--      </th>-->
<!--    </tr>-->

<!--    <tr *ngFor = "let row of schedule.listOfCourseSection">-->
<!--      <td *ngFor = "let column of headers">-->
<!--        {{row[column.fieldName]}}-->
<!--      </td>-->
<!--    </tr>-->

<!--  </table>-->

<!--  <br>-->

<!--  <ul>-->
<!--    <li  *ngFor = "let message of schedule.listOfMessages">{{message}}</li>-->
<!--  </ul>-->
<!--</div>-->


<div class="" *ngIf="schedule">
  <div class="modal-body">
      <table id="courses" class="table table-hover">
        <tr>
          <th *ngFor = "let column of headers">
            {{column.name}}
          </th>
        </tr>

        <tr *ngFor = "let row of schedule.listOfCourseSection">
          <td *ngFor = "let column of headers">
            {{row[column.fieldName]}}
          </td>
        </tr>

      </table>

      <br>

    <table class="table" *ngIf="schedule.listOfMessages.length">
      <tbody>
      <tr *ngFor = "let message of schedule.listOfMessages" class="app-message">
        <td>
          <i class="fa fa-exclamation-triangle"></i> {{message}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
