﻿<div class="bg">
  <h3 class="welcome">Welcome to AUA Schedule Generator</h3>
  <h6 class="welcome-goal">Our goal is to help you to create a schedule that best fits your needs.</h6>
  <div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="app-card-header">Login</h4>
        <br/>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4">
              <input id="professor" type="radio" value="professor" name="role" formControlName="role">
              <label for="professor"> Professor</label>
            </div>

            <div class="col-md-4">
              <input id="student" type="radio" value="student" name="role" formControlName="role">
              <label for="student"> Student</label>
            </div>

          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <button [disabled]="loading" class="btn app-primary app-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
