<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark app-navbar" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" *ngIf="!isProfessor">Home</a>
    <a class="nav-item nav-link app-navbar-space" routerLink="/allCourses" *ngIf="!isProfessor">Available Courses</a>
  </div>
  <div class="navbar-nav app-navbar-logout">
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="h-100">
  <router-outlet></router-outlet>
</div>
