<div class="container">
  <div class="card mt-4">
    <h5 class="card-header">Welcome, {{user.firstName}} {{user.lastName}}!</h5>
    <div class="card-body">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <div *ngIf="!loading">
        <p> ID Number: A09160029 </p>
        <p> Number of Credits: 40 </p>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <h5 class="card-header">Courses you've passed</h5>
    <div class="card-body app-container-body">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <table id="courses" *ngIf="!loading">
        <tr>
          <th *ngFor = "let column of courseHeaders">
            {{column.name}}
          </th>
        </tr>

        <tr *ngFor = "let row of passedCourses">
          <td *ngFor = "let column of courseHeaders">
            {{row[column.fieldName]}}
          </td>
        </tr>

      </table>
    </div>
  </div>

</div>
